<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connstr" connectionString="server=localhost;port=3306; uid=root;pwd=123456;database=spiderconfig;charset=utf8; pooling=false; Keep Alive=5; Allow User Variables=True;"/>
  <!--<add name="connstr" connectionString="server=www.h-sen.com;port=3306; uid=root;pwd=caojj123;database=spiderconfig;charset=utf8; pooling=false; Keep Alive=5; Allow User Variables=True;"/>-->
  </connectionStrings>
</configuration>