<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tender.tc.hs.tenderclient"
    android:versionName="V1.0"
    android:versionCode="1">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <application
        android:name=".HsApplication"
        android:allowBackup="true"
        android:icon="@drawable/tender"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">


        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Login.RegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Login.ResetPasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".UserBookSettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ChageFeeActivity"
            android:launchMode="singleTask"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="wx5cf4976ee8ae65c5"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".UserInfoActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".HelpActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Guide"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".WelcomeAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>