<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智搜在线</title>
    <style>

    </style>


    <link rel="shortcut icon" href="/static/Icon/default.png" >
    
    <style>
        @import url("/static/css/homecss.css");
    </style>


</head>

<body style="text-align: center">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/hshome.js"> </script>
    <script src="/static/js/cookie.js"> </script>

    {#顶部标题、登陆信息处#}
    <div class="top_title">
    {#    左侧图片#}
        <label id="findCompany">商务合作：<a style="color: chocolate;font-size: 16px">17828061593</a> (8:00-20:00，7x12小时）</label>
        <img id="ewmImage" src="/static/Icon/ewmImg.png">

        <img id="ewmImageLarge" src="/static/Icon/ewmImg.png" style="width: 160px;height: 160px;position: absolute;left: 10px;top: 50px" hidden>


    {#    右侧登陆或登陆后的显示状态#}
        <label id="loginLab">登陆</label>
        <label id="userNameLab" hidden="true"></label>
        <label id="exitLab" hidden="true">退出</label>
    </div>

    {#展示搜索图片#}
    <div class="large_images">
        <img class="imgIcon" src="/static/Icon/searchIcon.png">
        <img class="imgtext" src="/static/Icon/searchOnline.png">
    </div>

    <div class="searchDiv">
        <INPUT id="searchContext" type="text" value="请输入搜索内容" onfocus="javascript:if(this.value=='请输入搜索内容')this.value='';">
        <button id="searchButton" onmouseover="this.style.backgroundColor='#98AFC7';this.style.color='white'" onmouseout="this.style.backgroundColor='';this.style.color='#666666'">搜索</button>
    </div>


    {#    业务特点#}
    <div class="service_div" id="service_div_id">

{#        第一排#}
        <div id="findTration">
            <img id="findTrantionImage" src="/static/Srv/zhanhui.png" title="点击可选择">
            <img id="findTrantionRightImg" src="/static/Icon/ok.png" hidden style="position: fixed;width: 26px;height: 26px">
            <br />
            <a>国际展会</a>
        </div>

        <div id="queryProductPrice">
            <img id="queryProductPriceImage" src="/static/Srv/zhaotoubiao.png">
            <img id="queryProductPriceRightImg" src="/static/Icon/ok.png" hidden style="position: absolute;width: 26px;height: 26px">
            <br />
            <a>招投标数据</a>
        </div>

        <div id="serviceThree">
            <img id="serviceThreeImage" src="/static/Srv/phone.png">
            <img id="serviceThreeRightImg" src="/static/Icon/ok.png" hidden style="position: absolute;width: 26px;height: 26px">
            <br />
            <a>二手手机</a>
        </div>

        <br />
        <br />

{#        第二排#}
        <div id="serviceFour">
            <img id="serviceFourImage" src="/static/Srv/myorder.png">
            <br />
            <a>我的订阅</a>
        </div>

        <div id="serviceFive">
            <img id="serviceFiveImage" src="/static/Srv/serviceintr.png">
            <br />
            <a>服务介绍</a>
        </div>

        <div id="serviceSix">
            <img id="serviceSixImage" src="/static/Srv/reportdef.png">
            <br />
            <a>企业报表定制</a>
        </div>
    </div>


    <div class="bottomDiv">
        Copyright@2013汉森教育
    </div>
</body>
</html>