<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账户登陆</title>
    <link rel="shortcut icon" href="/static/Icon/default.png" >
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>

</head>

<body style="float: none;text-align: center">
    <script src="http://cdn.bootcss.com/jquery/1.7.2/jquery.min.js"></script>
    <script src="/static/js/imageView.js"> </script>

    <img src="/static/ReportImage/{{ imageName }}" style="width: 900px;height: 640px">

{#<INPUT id=button1 type=button value="return and close" name=button1 onclick="returnMain()">#}
</body>
</html>