<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智搜在线-服务介绍</title>
    <style>

    </style>


    <link rel="shortcut icon" href="/static/Icon/default.png" >

    <style>
        @import url("/static/css/intro.css");
    </style>
</head>
<body style="text-align: center;">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/intro.js"> </script>
    <script src="/static/js/cookie.js"> </script>

    {#顶部标题、登陆信息处#}
    <div class="top_title">
    {#    左侧图片#}
        <label id="findCompany">商务合作：<a style="color: chocolate;font-size: 16px">17828061593</a> (8:00-20:00，7x12小时）</label>
        <img id="ewmImage" src="/static/Icon/ewmImg.png">

        <img id="ewmImageLarge" src="/static/Icon/ewmImg.png" style="width: 160px;height: 160px;position: absolute;left: 10px;top: 50px" hidden>


    {#    右侧登陆或登陆后的显示状态#}
        <label id="loginLab">登陆</label>
        <label id="userNameLab" hidden="true"></label>
        <label id="exitLab" hidden="true">退出</label>
    </div>

    <div style="width: 70%;height: 400px;margin-left: 15%;margin-top: 20px">
        <img id="topImg" src="/static/intro/1.jpg" style="width: 100%;height: 400px">
    </div>

    <div style="width: 70%;height: 600px;margin-left: 15%;text-align: center;margin-top: 20px">
        <label class="labTitle1">数据收集服务 Data Collection</label>

        <div class="sepLine"></div>

        <p><span style="font-family:'仿宋';font-weight:400;font-size: 26px">我们正在为</span><span style="font-family:'仿宋 Bold', '仿宋';
        font-weight:700;color:#0000FF;;font-size: 26px">
            203</span><span style="font-family:'仿宋';font-weight:400;;font-size: 26px">家企业、
        </span><span style="font-family:'仿宋 Bold', '仿宋';font-weight:700;color:#0000FF;font-size: 26px">1029
        </span><span style="font-family:'仿宋';font-weight:400;font-size: 26px">个人提供专业数据服务</span></p>

        <p><span>我们为您提供专业数据订阅服务，让你在第一时间掌握相关动态</span></p>


        <img id="topImg" src="/static/intro/example1.png" style="width: 80%;height: 400px">
    </div>


    <div style="width: 70%;height: 500px;margin-left: 15%;text-align: center;margin-top: 20px">
        <label class="labTitle1">数据订阅服务 Data Order</label>

        <div class="sepLine"></div>

        <p><span style="font-family:'仿宋';font-weight:400;font-size: 26px">我们为您提供专业数据订阅服务，让你在第一时间掌握相关动态</span> </p>

        <div class="introDiv1">
            <label style="width: 100%;display: inline-block;font-size: 32px;color: #464646"><b>邮件订阅</b></label>
            <label style="width: 100%;display: inline-block;font-size: 20px;color: #707070;height: 120px;line-height: 38px">您可以设置任意有效邮箱，系统会根据订阅设置，给你推送消息通知！</label>
            <img id="topImg" src="/static/Icon/mail.png" style="width: 108px;height: 128px">

            <div class="sepLine2"></div>
        </div>
        <div class="introDiv1">
            <label style="width: 100%;display: inline-block;font-size: 32px;color: #464646"><b>短信订阅</b></label>
            <label style="width: 100%;display: inline-block;font-size: 20px;color: #707070;height: 120px;line-height: 38px">
                您可以设置接受订阅的手机号码，系统会根据订阅设置，给你推送消息通知！</label>
            <img id="topImg" src="/static/Icon/msg.png" style="width: 108px;height: 128px">

            <div class="sepLine2"></div>
        </div>
        <div class="introDiv1">
            <label style="width: 100%;display: inline-block;font-size: 32px;color: #464646"><b>电话订阅</b></label>
            <label style="width: 100%;display: inline-block;font-size: 20px;color: #707070;height: 120px;line-height: 38px">您可以设置接受资讯的电话，接受专业人员的服务！</label>
            <img id="topImg" src="/static/Icon/phone.png" style="width: 98px;height: 98px;margin-top: 15px">

            <div class="sepLine2"></div>
        </div>

    </div>

    <div style="width: 70%;height: 500px;margin-left: 15%;text-align: center;margin-top: 20px">
        <label class="labTitle1">持续数据支撑 Data Support</label>

        <div class="sepLine"></div>

        <p><span style="font-family:'仿宋';font-weight:400;font-size: 26px">汉森在为多家互联网创业企业提供数据支撑服务</span> </p>

        <div class="introDiv1">

            <img id="topImg" src="/static/intro/sample1.png" style="width: 300px;height: 170px">
            <label style="width: 100%;display: inline-block;font-size: 20px;color: #707070;height: 120px;line-height: 38px">为企业提供产品情报数据！</label>

        </div>
        <div class="introDiv1">
            <img id="topImg" src="/static/intro/sample2.png" style="width: 300px;height: 170px">
            <label style="width: 100%;display: inline-block;font-size: 20px;color: #707070;height: 120px;line-height: 38px">您是否在为您的互联网应用缺少数据烦恼？给你提供不间断的数据支撑！</label>
        </div>
        <div class="introDiv1">
            <img id="topImg" src="/static/intro/sample3.png" style="width: 300px;height: 170px">
            <label style="width: 100%;display: inline-block;font-size: 20px;color: #707070;height: 120px;line-height: 38px">您是否在为你的软件找不到客户，我们可以为你在区域内找到所有行业软件潜在使用者！</label>
        </div>
    </div>

    <div style="width: 70%;height: 400px;margin-left: 15%;text-align: center;margin-top: 20px">
        <label class="labTitle1">数据触手可及 IndustryData Service</label>

        <div class="sepLine"></div>

        <p><span style="font-family:'仿宋';font-weight:400;font-size: 26px">数据支持各种图标模式，根据客户需求而定，如：散点图、直方图、折线图、热图等多种展示模式。</span> </p>

        <div class="introDiv1">
            <img id="topImg" src="/static/intro/report1.png" style="width: 300px;height: 170px">
        </div>
        <div class="introDiv1">
            <img id="topImg" src="/static/intro/report2.png" style="width: 300px;height: 170px">
        </div>
        <div class="introDiv1">
            <img id="topImg" src="/static/intro/report3.png" style="width: 300px;height: 170px">
        </div>
    </div>

    <div class="bottomDiv">
        Copyright@2013汉森教育
    </div>
</body>
</html>