<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智搜在线</title>
    <style>

    </style>


    <link rel="shortcut icon" href="/static/Images/default.png" >

    <style>
        @import url("/static/css/intro.css");
    </style>
</head>
<body style="text-align: center;">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/intro.js"> </script>
    <script src="/static/js/cookie.js"> </script>

    {#顶部标题、登陆信息处#}
    <div class="top_title">
    {#    左侧图片#}
        <label id="findCompany">商务合作：<a style="color: chocolate;font-size: 16px">17828061593</a> (8:00-20:00，7x12小时）</label>
        <img id="ewmImage" src="/static/Icon/ewmImg.png">

        <img id="ewmImageLarge" src="/static/Icon/ewmImg.png" style="width: 160px;height: 160px;position: absolute;left: 10px;top: 50px" hidden>


    {#    右侧登陆或登陆后的显示状态#}
        <label id="loginLab">登陆</label>
        <label id="userNameLab" hidden="true"></label>
        <label id="exitLab" hidden="true">退出</label>
    </div>

    <div style="width: 70%;height: 300px;margin-left: 15%;margin-top: 20px">
        <img id="topImg" src="/static/intro/1.jpg" style="width: 100%;height: 300px">
    </div>

    <div style="width: 70%;height: 600px;margin-left: 15%;text-align: center;margin-top: 20px">
        <label id="labTitle1">数据收集服务 Data Collection</label>

        <div class="sepLine"></div>

        <p><span style="font-family:'仿宋';font-weight:400;font-size: 26px">我们正在为</span><span style="font-family:'仿宋 Bold', '仿宋';
        font-weight:700;color:#0000FF;;font-size: 26px">
            203</span><span style="font-family:'仿宋';font-weight:400;;font-size: 26px">家企业、
        </span><span style="font-family:'仿宋 Bold', '仿宋';font-weight:700;color:#0000FF;font-size: 26px">1029
        </span><span style="font-family:'仿宋';font-weight:400;font-size: 26px">个人提供专业数据服务</span></p>

        <p><span>我们为您提供专业数据订阅服务，让你在第一时间掌握相关动态</span></p>


        <img id="topImg" src="/static/intro/example1.png" style="width: 80%;height: 400px">
    </div>
</body>
</html>