<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智搜在线-企业报表定制</title>
    <style>

    </style>


    <link rel="shortcut icon" href="/static/Images/default.png" >

    <style>
        @import url("/static/css/reportIntro.css");
    </style>
</head>
<body>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/reportIntro.js"> </script>
    <script src="/static/js/cookie.js"> </script>
{#    <script src="/static/addon/visitor_tm_phone_source.js"> </script>#}


    {#顶部标题、登陆信息处#}
    <div class="top_title">
    {#    左侧图片#}
        <label id="findCompany">商务合作：<a style="color: chocolate;font-size: 16px">17828061593</a> (8:00-20:00，7x12小时）</label>
        <img id="ewmImage" src="/static/Icon/ewmImg.png">

        <img id="ewmImageLarge" src="/static/Icon/ewmImg.png" style="width: 160px;height: 160px;position: absolute;left: 10px;top: 50px" hidden>


    {#    右侧登陆或登陆后的显示状态#}
        <label id="loginLab">登陆</label>
        <label id="userNameLab" hidden="true"></label>
        <label id="exitLab" hidden="true">退出</label>
    </div>


    <div style="width: 70%;height: 300px;margin-left: 15%;margin-top: 20px">
        <img id="topImg" src="/static/intro/1.jpg" style="width: 100%;height: 300px">
    </div>

    <div style="width: 70%;height: 300px;margin-left: 15%;text-align: center;margin-top: 20px">
        <label class="labTitle1">服务定位 Service Location</label>

        <div class="sepLine"></div>

        <label style="width: 80%;display: inline-block;font-size: 22px;color: #707070;height: 120px;line-height: 58px">
                面向企业的数据报表服务，是通过外部插件定制，可直接采集、<br />
            收集非公开网站的数据，客户通过设置所关注数据项，并定义报表内容， 插件通过少量开发，<br />
            可无缝实现原网页的图形报表功能，整个过程无需网站原厂商接入，通过专业的报表插件， 您<br />
            将体验到高效的集成、优美报表（根据你的指定生成）、无缝集成。
        </label>
    </div>

    <div style="width: 70%;height: 400px;margin-left: 15%;text-align: center;margin-top: 20px;background: #fff">
        <label class="labTitle1">集成简单，仅需一行代码</label>

        <div class="sepLine"></div>

        <div class="introDiv1">
            <label style="width: 100%;font-size: 22px"><b>仅需一行代码</b></label>
            <label style="width: 80%;display: inline-block;font-size: 18px;color: #707070;height: 120px;line-height: 38px">
                外置报表设计为JS插件，内网、或政府网站仅需增加一行固定的JS代码即可完成报表集成.
            </label>
        </div>

        <div class="introDiv1">
            <label style="width: 100%;font-size: 22px"><b>原厂商无需介入</b></label>
            <label style="width: 80%;display: inline-block;font-size: 18px;color: #707070;height: 120px;line-height: 38px">
                插件集成几乎无需网站原厂商介入，您只需要提供我服务器地址和相关配置信息即可
            </label>
        </div>

        <div style="width: 30%;float: left;margin-left: 10%;margin-top: 20px;">
            <label style="width: 100%;font-size: 22px"><b>集成开发时间短</b></label>
            <label style="width: 80%;display: inline-block;font-size: 18px;color: #707070;height: 120px;line-height: 38px">
                数据服务，是基于你对当前专网内的业务网站而设定的，考虑到原网站服务商的可能不提供差异化开发服务，我公司就数据报表提供支撑插件，根据客户需求仅需短时间开发，可实现报表功能。但对已归档数据不支持报表统计。
            </label>
        </div>
    </div>


    <div style="width: 70%;height: 400px;margin-left: 15%;text-align: center;margin-top: 20px;background: #fff">
        <label class="labTitle1">灵活的报表定制</label>

        <div class="sepLine"></div>


    </div>


    <div style="width: 70%;height: 400px;margin-left: 15%;text-align: center;margin-top: 20px;background: #fff">
        <label class="labTitle1">多种报表服务器选择</label>

        <div class="sepLine"></div>


    </div>

    <div style="width: 70%;height: 400px;margin-left: 15%;text-align: center;margin-top: 20px;background: #fff;padding-bottom: 30px">
        <label class="labTitle1">多样化报表形式</label>

        <div class="sepLine"></div>


    </div>


    <div class="bottomDiv">
        Copyright@2013汉森教育
    </div>
</body>
</html>