<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智搜在线-企业报表定制</title>
    <style>

    </style>


    <link rel="shortcut icon" href="/static/Images/default.png" >

    <style>
        @import url("/static/css/reportIntro.css");
    </style>
</head>
<body>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/reportIntro.js"> </script>
    <script src="/static/js/cookie.js"> </script>
{#    <script src="/static/addon/visitor_tm_phone_source.js"> </script>#}


    {#顶部标题、登陆信息处#}
    <div class="top_title">
    {#    左侧图片#}
        <label id="findCompany">商务合作：<a style="color: chocolate;font-size: 16px">17828061593</a> (8:00-20:00，7x12小时）</label>
        <img id="ewmImage" src="/static/Icon/ewmImg.png">

        <img id="ewmImageLarge" src="/static/Icon/ewmImg.png" style="width: 160px;height: 160px;position: absolute;left: 10px;top: 50px" hidden>


    {#    右侧登陆或登陆后的显示状态#}
        <label id="loginLab">登陆</label>
        <label id="userNameLab" hidden="true"></label>
        <label id="exitLab" hidden="true">退出</label>
    </div>


    <div style="width: 70%;height: 400px;margin-left: 15%;margin-top: 20px">
        <img id="topImg" src="/static/intro/1.jpg" style="width: 100%;height: 400px">
    </div>

    <div style="width: 70%;height: 300px;margin-left: 15%;text-align: center;margin-top: 20px">
        <label class="labTitle1">服务定位 Service Location</label>

        <div class="sepLine"></div>

        <label style="width: 80%;display: inline-block;font-size: 22px;color: #707070;height: 120px;line-height: 58px">
                面向企业的数据报表服务，是通过外部插件定制，可直接采集、<br />
            收集非公开网站的数据，客户通过设置所关注数据项，并定义报表内容， 插件通过少量开发，<br />
            可无缝实现原网页的图形报表功能，整个过程无需网站原厂商接入，通过专业的报表插件， 您<br />
            将体验到高效的集成、优美报表（根据你的指定生成）、无缝集成。
        </label>
    </div>

    <div style="width: 70%;height: 400px;margin-left: 15%;text-align: center;margin-top: 20px;background: #fff">
        <label class="labTitle1">集成简单，仅需一行代码</label>

        <div class="sepLine"></div>

        <div class="introDiv1">
            <label style="width: 100%;font-size: 22px"><b>仅需一行代码</b></label>
            <label style="width: 80%;display: inline-block;font-size: 18px;color: #707070;height: 120px;line-height: 38px">
                外置报表设计为JS插件，内网、或政府网站仅需增加一行固定的JS代码即可完成报表集成.
            </label>
        </div>

        <div class="introDiv1">
            <label style="width: 100%;font-size: 22px"><b>原厂商无需介入</b></label>
            <label style="width: 80%;display: inline-block;font-size: 18px;color: #707070;height: 120px;line-height: 38px">
                插件集成几乎无需网站原厂商介入，您只需要提供我服务器地址和相关配置信息即可
            </label>
        </div>

        <div style="width: 30%;float: left;margin-left: 10%;margin-top: 20px;">
            <label style="width: 100%;font-size: 22px"><b>集成开发时间短</b></label>
            <label style="width: 80%;display: inline-block;font-size: 18px;color: #707070;height: 120px;line-height: 38px">
                数据服务，是基于你对当前专网内的业务网站而设定的，考虑到原网站服务商的可能不提供差异化开发服务，我公司就数据报表提供支撑插件，根据客户需求仅需短时间开发，可实现报表功能。但对已归档数据不支持报表统计。
            </label>
        </div>
    </div>


    <div style="width: 70%;height: 400px;margin-left: 15%;text-align: center;margin-top: 20px;background: #fff">
        <label class="labTitle1">灵活的报表定制</label>

        <div class="sepLine"></div>

        <div class="introDiv1">
            <label style="width: 100%;font-size: 22px"><b>嵌入式菜单</b></label>
            <label style="width: 80%;display: inline-block;font-size: 18px;color: #707070;height: 120px;line-height: 38px">
                插件通过嵌入式菜单方式，将报表按钮固定到浏览器某一个位置；按钮位置和形态可根据客户需求进行调整；
插件总共二级菜单.
            </label>
        </div>

        <div class="introDiv1">
            <label style="width: 100%;font-size: 22px"><b>报表内容定制</b></label>
            <label style="width: 80%;display: inline-block;font-size: 18px;color: #707070;height: 120px;line-height: 38px">
                报表数据内容根据客户需求而定，由于是三方插件，客户选定的报表数据范围必须是可通过网站浏览到的数据，其他无特殊要求
            </label>
        </div>

        <div style="width: 30%;float: left;margin-left: 10%;margin-top: 20px;">
            <label style="width: 100%;font-size: 22px"><b>无数据泄漏风险</b></label>
            <label style="width: 80%;display: inline-block;font-size: 18px;color: #707070;height: 120px;line-height: 38px">
                我们不访问数据库
                我们仅需要一个可以浏览数据的账户即可（如果系统需要）
                我们不需要访问Network
                我们的服务可部署到您指定的任何位置。
            </label>
        </div>

    </div>


    <div style="width: 70%;height: 400px;margin-left: 15%;text-align: center;margin-top: 20px;background: #fff">
        <label class="labTitle1">多种报表服务器选择</label>

        <div class="sepLine"></div>

        <div class="introDiv1">
            <label style="width: 100%;font-size: 22px"><b>客户PC</b></label>
            <label style="width: 80%;display: inline-block;font-size: 18px;color: #707070;height: 120px;line-height: 38px">
                您可以使用PC机作为报表服务器，配置要求可以很低
                1、CPU 2核（很难找到）
                2、1G内存
                3、300G 硬盘
            </label>
        </div>

        <div class="introDiv1">
            <label style="width: 100%;font-size: 22px"><b>客户服务器</b></label>
            <label style="width: 80%;display: inline-block;font-size: 18px;color: #707070;height: 120px;line-height: 38px">
                您也可以使用服务器作为报表服务器，可以使物理主机也可以是虚拟机，性能不做要求，请参照《客户PC》
            </label>
        </div>

        <div style="width: 30%;float: left;margin-left: 10%;margin-top: 20px;">
            <label style="width: 100%;font-size: 22px"><b>服务商云平台</b></label>
            <label style="width: 80%;display: inline-block;font-size: 18px;color: #707070;height: 120px;line-height: 38px">
                如果您的目标数据源服务器，在外网可以访问，那么您可以选购企业为你提供的专业服务器，你无需担心网络、存储安全等问题
            </label>
        </div>

        <div style="width: 30%;float: left;margin-left: 10%;margin-top: 20px;">
            <label style="width: 100%;font-size: 22px"><b>服务商微型服务器</b></label>
            <label style="width: 80%;display: inline-block;font-size: 18px;color: #707070;height: 120px;line-height: 38px">
                您也可以选择我公司微型服务器，价格便宜，实用;银行卡大小，功能齐全，支持Wifi、支持以太连接、支持USB口、支持GPIO输出、支持HDMI输出、可接摄像机。
            </label>
        </div>
    </div>

    <div style="width: 70%;height: 400px;margin-left: 15%;text-align: center;margin-top: 20px;background: #fff;padding-bottom: 30px">
        <label class="labTitle1">多样化报表形式</label>

        <div class="sepLine"></div>

        <div style="width: 30%;float: left;margin-left: 10%;margin-top: 20px;">
            <label style="width: 100%;font-size: 22px"><b>可展示报表明细</b></label>
            <label style="width: 80%;display: inline-block;font-size: 18px;color: #707070;height: 120px;line-height: 38px">
                报表详细界面，展示报表明细，用户可直接查看报表数据。
            </label>
        </div>

        <div style="width: 30%;float: left;margin-left: 10%;margin-top: 20px;">
            <label style="width: 100%;font-size: 22px"><b>支持各种图形报表</b></label>
            <label style="width: 80%;display: inline-block;font-size: 18px;color: #707070;height: 120px;line-height: 38px">
                支持各种报表图表，可根据用户选择确定报表展示图例，支持散点图、折线图、柱状图、圆饼图、热点图等
            </label>
        </div>
    </div>


    <div class="bottomDiv">
        Copyright@2013汉森教育
    </div>
</body>
</html>