<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智搜在线</title>
    <style>

    </style>


    <link rel="shortcut icon" href="/static/Images/default.png" >

    <style>
        @import url("/static/css/reportIntro.css");
    </style>
</head>
<body>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/reportIntro.js"> </script>
    <script src="/static/js/cookie.js"> </script>

    {#顶部标题、登陆信息处#}
    <div class="top_title">
    {#    左侧图片#}
        <label id="findCompany">商务合作：<a style="color: chocolate;font-size: 16px">17828061593</a> (8:00-20:00，7x12小时）</label>
        <img id="ewmImage" src="/static/Icon/ewmImg.png">

        <img id="ewmImageLarge" src="/static/Icon/ewmImg.png" style="width: 160px;height: 160px;position: absolute;left: 10px;top: 50px" hidden>


    {#    右侧登陆或登陆后的显示状态#}
        <label id="loginLab">登陆</label>
        <label id="userNameLab" hidden="true"></label>
        <label id="exitLab" hidden="true">退出</label>
    </div>

</body>
</html>